body {
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.678);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

body::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.842);
    z-index: 0;
}

div#sec {
    background-color: #300f0f;
    border-radius: 2%;
    padding: 16px;
    width: 100%;
    max-width: 600px; 
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    padding-right: 2; 
}

div#sec > img {
    border-radius: 15px;
    width: 100%; 
}
